body {
    background-color: lavender;
    font-family: 'Arial', sans-serif;
}

.title {
    text-align: center;
    background-color: blueviolet;
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.recipes,
.cocktails {
    font-size: 30px;
    font-style: italic;
    color: darkviolet;
}