* {
    box-sizing: border-box;
}

body {
    background-color: lavender;
    font-family: 'Arial', sans-serif;
    border: 10px solid green;
    padding: 20px;
}

.title {
    text-align: center;
    background-color: blueviolet;
    color: limegreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    padding: 20px;
    border: 10px solid black;
    margin: 30px;
}

.recipes,
.cocktails {
    font-size: 30px;
    font-style: italic;
    color: darkviolet;
}

.recipe-title {
    font-size: 30px;
    font-style: italic;
    color: blueviolet;
    text-align: center;
    background-color: limegreen;
}

.recipe-list {
    font-weight: bold;
}

.back-link {
    font-size: 24px;
    font-weight: bold;
}

.recipe-img {
    display: block;
    margin: auto;
}